/**
* Modularized styling for the package
*/
/*  Bootstrap Overrides */
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap; }

.flexCenter {
  justify-content: center;
  text-align: center; }

.flexMiddle {
  align-items: center; }

.contentContainer {
  width: 100%;
  composes: row;
  composes: flexCenter;
  composes: flexMiddle; }

/**
* Styles for the Media Item
*/
.mediaContainer21by9 {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .mediaContainer21by9::before {
    content: "";
    display: block;
    padding-top: 42.85714%; }

.mediaContainer16by9 {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .mediaContainer16by9::before {
    content: "";
    display: block;
    padding-top: 56.25%; }

.mediaContainer4by3 {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .mediaContainer4by3::before {
    content: "";
    display: block;
    padding-top: 75%; }

.mediaContainer1by1 {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .mediaContainer1by1::before {
    content: "";
    display: block;
    padding-top: 100%; }

.mediaItem {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  object-fit: cover; }

.mediaContentContainer {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.round {
  border-radius: 50%; }

.contentPadding {
  padding: 1.5rem !important; }
  @media screen and (min-width: 768px) {
    .contentPadding {
      padding: 2rem !important; } }

.contentMedia {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  order: 0; }

.contentRight {
  composes: contentPadding;
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex-basis: 100%;
  max-width: 100%;
  order: 1;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .contentRight {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      flex-basis: 50%;
      max-width: 50%;
      text-align: left; } }

.contentLeft {
  composes: contentPadding;
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex-basis: 100%;
  max-width: 100%;
  order: 1;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .contentLeft {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      flex-basis: 50%;
      max-width: 50%;
      order: -1;
      text-align: left; } }

.contentTop {
  composes: contentPadding;
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex-basis: 100%;
  max-width: 100%;
  order: -1; }

.contentBottom {
  composes: contentPadding;
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex-basis: 100%;
  max-width: 100%;
  order: 1; }

/**
* Styles for the Loaders
*/
.loader {
  background: linear-gradient(90deg, #ced4da, #f8f9fa);
  background-size: 300% 300%;
  -webkit-animation: GradientAnimation 3s ease infinite;
  -moz-animation: GradientAnimation 3s ease infinite;
  animation: GradientAnimation 3s ease infinite; }

.accordionLoaderContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%; }

.accordionLoaderColumn {
  flex: 0 0 50%;
  max-width: 50%; }

.accordionLoaderItem {
  composes: loader;
  height: 50px;
  max-width: 100%;
  margin: 10px 10px; }

.contentLoaderContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%; }

.contentLoaderImg {
  composes: loader;
  composes: mediaContainer4by3; }

.contentLoaderTitle {
  composes: loader;
  margin: 10px 30%;
  height: 50px; }

.contentLoaderLine {
  composes: loader;
  margin: 10px 20%;
  height: 30px; }
  .contentLoaderLine:last-of-type {
    margin: 10px 25%;
    height: 30px; }

.ringContainer {
  height: 100%;
  width: 100%;
  composes: contentContainer; }

.ringLoader {
  display: inline-block;
  width: 56px;
  height: 56px; }
  .ringLoader:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #00aeef;
    border-color: #00aeef transparent #00aeef transparent;
    animation: lds-dual-ring 1.2s linear infinite; }

/**
* Animations for the Loaders
*/
@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  75% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  75% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%; }
  75% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.accordionContainer {
  composes: row; }

.accordionItem {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex-basis: 100%;
  max-width: 100%;
  margin-top: .5rem;
  margin-bottom: .5rem; }
  @media screen and (min-width: 768px) {
    .accordionItem {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      flex-basis: 50%;
      max-width: 50%; } }

.accordionButton {
  font-weight: normal;
  padding: 1.5rem 2rem;
  background: white;
  border-color: #adb5bd;
  border-width: 0 0 2px 0;
  width: 100%;
  text-align: left;
  font-size: larger;
  transition: font-weight .25s ease-out;
  -webkit-tap-highlight-color: transparent; }
  .accordionButton:focus {
    outline: 0; }
  .accordionButton:hover {
    cursor: pointer; }

.accordionBody {
  background: white;
  border: solid;
  border-color: #adb5bd;
  border-width: 0 0 1px 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-out; }

.accordionItemOpen .accordionButton {
  font-weight: bold;
  transition: font-weight .25s ease; }

.accordionItemOpen .accordionBody {
  max-height: 100vh;
  display: block;
  overflow: hidden;
  transition: max-height .25s ease-in; }

.accordionItemOpen .accordionIcon:before {
  transform: rotate(90deg); }

.accordionTitle {
  float: left;
  width: 90%; }

.accordionIcon {
  float: right;
  text-align: right;
  position: relative;
  width: 15px;
  height: 15px;
  /* Vertical line */
  /* horizontal line */ }
  .accordionIcon:before, .accordionIcon:after {
    content: "";
    position: absolute;
    background-color: black;
    transition: transform 0.25s ease-out; }
  .accordionIcon:before {
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    margin-left: -2px;
    margin-top: 4px; }
  .accordionIcon:after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: 2px; }

.dot {
  padding: 0; }
  .dot li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    padding: 0;
    cursor: pointer; }
    .dot li.slick-active button {
      background: gray; }
  .dot button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 15px;
    height: 15px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    border-radius: 50%;
    outline: none;
    background: lightgrey; }
