.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin colBase {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
}

@mixin colSize($size) {
    @include colBase;

    @if $size == -1 {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    } @else {
        flex-basis: percentage($number: ($size));
        max-width: percentage($number: ($size));
    }
}

@mixin colOrder($order) {
    order: $order;
}

.flexCenter {
    justify-content: center;
    text-align: center;
}

.flexMiddle {
    align-items: center;
}

.contentContainer {
    width: 100%;
    composes: row;
    composes: flexCenter;
    composes: flexMiddle;
}