// Color Overrides
$cyan: #00aeef;

$primary: $cyan;

//font size
$font-size-lg: 1rem;
$font-size-sm: 0.75rem;

// Button overrides
$btn-border-radius: 50rem;
$btn-border-radius-lg: 50rem;
$btn-border-radius-sm: 50rem;
$padding-y: 1rem;
$padding-x: 1.5rem;

//border-radius
$border-radius: 0.5rem;

//font overrides